body {
  margin: 0;
  background: #0b0b0b;
  color: #eee;
  font-family: "Segoe UI", sans-serif;
}

.hero {
  height: 100vh;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.95)),
    url("covers/city.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 90px;
  letter-spacing: 8px;
  color: #f1c40f;
  text-shadow:
    0 0 10px rgba(241,196,15,0.4),
    0 0 30px rgba(241,196,15,0.2);
}

.hero p {
  margin-top: -10px;
  font-size: 22px;
  opacity: 0.85;
}

.hero-buttons a {
  margin: 20px;
  padding: 14px 36px;
  border: 2px solid #f1c40f;
  color: #f1c40f;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.hero-buttons a:hover {
  background: #f1c40f;
  color: black;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 60px 10%;
  gap: 30px;
}

.card {
  background: #111;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}

.about, .records {
  padding: 80px 15%;
  text-align: center;
}

.features {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.feature {
  background: #111;
  padding: 20px 30px;
  border-radius: 12px;
}

footer {
  text-align: center;
  padding: 30px;
  background: #000;
  color: #777;
}

.hero.small {
  height: 40vh;
}

.chart-wrapper {
  padding: 60px 12%;
}

.chart-card {
  display: grid;
  grid-template-columns: 60px 90px 1fr 220px;
  align-items: center;
  background: #111;
  border-radius: 16px;
  padding: 18px;
  margin-bottom: 20px;
}

.chart-rank {
  font-size: 32px;
  font-weight: bold;
  color: #f1c40f;
  text-align: center;
}

.chart-cover {
  width: 70px;
  height: 70px;
  background: #333;
  border-radius: 8px;
}

.chart-title {
  font-size: 18px;
  font-weight: bold;
}

.chart-artist {
  font-size: 14px;
  opacity: 0.6;
}

.chart-stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.chart-stats div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.chart-stats span {
  opacity: 0.5;
  font-size: 12px;
}

.chart-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}



